/***
Default theme
***/
/***
Reset and overrides  
***/
body {
	background-color: #edecec !important;
}
/***
Page header
***/
/* .header .navbar-inner {
	filter: none !important;
	background-image: none !important;
	background-color: #336699 !important;
	background: -moz-linear-gradient(center top, #086ED5, #055DB5) repeat-x
		scroll 0% 0% #0767C8;
	background-color: #0767C8; 
	background-image: -moz-linear-gradient(center top, #086ED5, #055DB5);
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	border-bottom: 1px solid #044E97;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #044E97;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 1px 0px
		rgba(255, 255, 255, 0.15) inset;
} 蓝色导航栏*/
.navbar-inverse .navbar-inner{
	background-image: linear-gradient(to bottom, #3B3B3B, #3B3B3B);
	background-repeat: repeat-x;
    background-color: #3B3B3B !important;
 }
.header .btn-navbar {
	 background-color: #336699 !important;  
	
}

.header .nav .dropdown-toggle:hover,.header .nav .dropdown.open .dropdown-toggle
	{
	/* background-color: #383838 !important; */
	/* background-color: #4d90fe !important; */
	/* background-color: #fff !important; */
}

//
导航栏右边admin鼠标移动变色
.header .nav li.dropdown .dropdown-toggle i {
	/*  color: #8a8a8a !important;  */
}
/***
Page sidebar
***/
.page-sidebar {
	/* background-color: red ; */
	background-color: #eeeeee;
	
}
.page-top{
	background-color: #e95c0d;	
}
.page-sidebar {
	position:absolute;
	top:34px;
	left:0;
	bottom:-200px;
	width:224px;
	background-color:#EEEEEE;
	border-right:1px solid #D9D9D9;
	box-shadow:2px 2px 3px #E1E1E1;
}
ul.page-sidebar-menu>li>a {
	background-color: #f4f4f4;
	border-bottom: 1px solid white;
	border-top: 1px solid #e7e7e7; /*下划线的颜色（灰白色）*/
}

ul.page-sidebar-menu>li>a {
	border-top: 1px solid #d0d0d0 !important;
	color: #000 !important;
} /*左菜单下划线颜色及字体颜色*/
ul.page-sidebar-menu>li:last-child>a {
	border-bottom: 1px solid #d0d0d0 !important;
	/***border-bottom: 1px solid #e7e7e7 !important;;
    background: #f4f4f4;***/
} /*最后的下划线颜色*/
ul.page-sidebar-menu>li a i {
	color: #969696;
} /*左边图标的颜色*/
ul.page-sidebar-menu>li.open>a,ul.page-sidebar-menu>li>a:hover,ul.page-sidebar-menu>li:hover>a
	{
	background: #ffffff;
	/* color: #e95c0d !important; */
	/* color: #aa0e07 !important; */
} /*鼠标移动触发字体变色及背景颜色*/
/***ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover,
ul.page-sidebar-menu > li:hover > a {
	background: #303030;//鼠标移动背景色
}***/
ul.page-sidebar-menu>li.active>a {
	/* background: #e02222 !important; */
	/*  background: #4a9eda !important;  */
	 background: #fff!important;
	border-top: 1px solid #d0d0d0 !important;
	color: #000 !important;
	/***“点击时的背景颜色及字体颜色”***/
	/*** border-top-color: transparent !important;***/
} /*“主页”字体的颜色及上划线的颜色*/
ul.page-sidebar-menu>li.active>a i {
	color: #969696;
} /*“主页”左边图标的颜色*/
ul.page-sidebar-menu>li>ul.sub-menu>li:first-child>a {
	border-top: 0px !important;
}

ul.page-sidebar-menu>li>ul.sub-menu>li.active>a,ul.page-sidebar-menu>li>ul.sub-menu>li>a:hover
	{
	/* color: #aa0e07 !important; */
	color: #e95c0d !important;
	background: #f3f3f3 !important;
} /*鼠标移动或移开的字体颜色，及移开时的背景和字体色*/
ul.page-sidebar-menu>li>ul.sub-menu>li>a:hover {
	background: #f3f3f3 !important;
} /*下来菜单鼠标移动变色 */
/* 3rd level sub menu */
ul.page-sidebar-menu>li>ul.sub-menu li>ul.sub-menu>li.active>a,ul.page-sidebar-menu>li>ul.sub-menu li>ul.sub-menu>li>a:hover,ul.page-sidebar-menu>li>ul.sub-menu li.open>a
	{
	color: #252625 !important;
	background: #ffffff !important;
} /*下拉菜单的背景颜色*/
.open {
	background-color: #ffffff;
}
/*font color for all sub menu links*/
ul.page-sidebar-menu li>ul.sub-menu>li>a {
	 color: #595959; 
}

/* menu arrows */
ul.page-sidebar-menu>li>a .arrow:before,  ul.page-sidebar-menu>li>a .arrow.open:before 
	{
	/* color: #7d7d7d !important; */
	color: #e95c0d !important;
}

ul.page-sidebar-menu>li>ul.sub-menu a .arrow:before,ul.page-sidebar-menu>li>ul.sub-menu a .arrow.open:before
	{
	color: #707070 !important;
}

ul.page-sidebar-menu>li>a>.arrow.open:before {
	 color: #8a8a8a !important; 
	
}

ul.page-sidebar-menu>li.active>a .arrow:before,ul.page-sidebar-menu>li.active>a .arrow.open:before
	{
	color: #8a8a8a !important;
}
/* sidebar search */
.page-sidebar .sidebar-search input {
	background-color: #242424 !important;
	color: #7d7d7d;
}

.page-sidebar .sidebar-search input::-webkit-input-placeholder {
	color: #7d7d7d !important;
}

.page-sidebar .sidebar-search input:-moz-placeholder {
	color: #7d7d7d !important;
}

.page-sidebar .sidebar-search input:-ms-input-placeholder {
	color: #7d7d7d !important;
}

.page-sidebar .sidebar-search input {
	background-color: #3d3d3d !important;
	color: #bfbfbf !important;
}

.page-sidebar .sidebar-search .input-box {
	border-bottom: 1px solid #7d7d7d !important;
}

.page-sidebar .sidebar-search .submit {
	background-image: url(../image/search-icon.png);
}
/***
Sidebar toggler
***/
.sidebar-toggler {
	/***background-image: url(../image/sidebar-toggler.jpg);***/
	/* background-image: url(../image/toggler3.png); */
	background-image: url(../image/xt.png);
	/* background-color: #242424; */
	background-color: #e95c0d;
	
}
/* search box bg color on expanded */
.page-sidebar-closed .page-sidebar .sidebar-search.open {
	/* background-color: #3d3d3d !important; */
	background-color: red !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .remove {
	background-image: url("../image/sidebar-search-close.png");
}
/* sub menu bg color on hover menu item */
.page-sidebar-closed ul.page-sidebar-menu>li:hover .sub-menu {
	/* background-color: #3d3d3d; */
	background-color: #fff;
}
/***
Horizontal Menu(new in v1.2)
***/
/*search*/
.header .hor-menu .hor-menu-search-form-toggler.hide {
	background: #000 url(../image/hor-menu-search-close.png) no-repeat
		center;
}

.header .hor-menu .search-form {
	background: #000000;
}

.header .hor-menu .search-form .btn {
	color: #d6d6d6;
	
	background: #000 url(../image/search-icon.png) no-repeat center;
}

.header .hor-menu .search-form form input {
	color: #d6d6d6;

}

.header .hor-menu .search-form form input::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #d6d6d6;
}

.header .hor-menu .search-form form input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #d6d6d6;
}

.header .hor-menu .search-form form input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #d6d6d6;
}

.header .hor-menu .search-form form input:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #d6d6d6;
}
/***
Footer 
***/
.footer .footer-inner {
	color: #999999;
}

.footer .footer-tools .go-top {
	background-color: #4f4f4f;
}

.footer .footer-tools .go-top:hover {
	opacity: 0.7;
	filter: alpha(opacity = 70);
}

.footer .footer-tools .go-top i {
	color: #8a8a8a;
}
/***
Footer Layouts (new in v1.3)
***/
/* begin:fixed footer */
.page-footer-fixed .footer {
	background-color: #242424;
}

.page-footer-fixed .footer .footer-inner {
	color: #999999;
}

.page-footer-fixed .footer .footer-tools .go-top {
	background-color: #4f4f4f;
}

.page-footer-fixed .footer .footer-tools .go-top i {
	color: #8a8a8a;
}
/* end:fixed footer */
/***
Gritter Notifications 
***/
.gritter-top {
	background: url(../image/gritter.png) no-repeat left -30px !important;
}

.gritter-bottom {
	background: url(../image/gritter.png) no-repeat left bottom !important;
}

.gritter-item {
	display: block;
	background: url(../image/gritter.png) no-repeat left -40px !important;
}

.gritter-close {
	background: url(../image/gritter.png) no-repeat left top !important;
}

.gritter-title {
	text-shadow: none !important;
	/* Not supported by IE :( */
}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,.gritter-light .gritter-bottom,.gritter-light .gritter-top,.gritter-light .gritter-close
	{
	background-image: url(../image/gritter-light.png) !important;
}

.gritter-item-wrapper a {
	color: #18a5ed;
}

.gritter-item-wrapper a:hover {
	color: #0b6694;
}
/* begin: boxed page */
@media ( min-width : 980px) {
	.page-boxed {
		background-color: #2e2e2e !important;
	}
	.page-boxed .page-container {
		background-color: #3d3d3d;
		border-left: 1px solid #5e5e5e;
		border-bottom: 1px solid #5e5e5e;
	}
	.page-boxed.page-sidebar-fixed .page-container {
		border-left: 0;
		border-bottom: 0;
	}
	.page-boxed.page-sidebar-fixed .page-sidebar {
		border-left: 1px solid #5e5e5e;
	}
	.page-boxed.page-sidebar-fixed.page-footer-fixed .footer {
		background-color: #2e2e2e !important;
	}
}
/* end: boxed page */
/***
Landscape phone to portrait tablet
***/
@media ( max-width : 979px) {
	/***
    page sidebar
    ***/
	.page-sidebar {
		background-color: #292929 !important;
	}
	ul.page-sidebar-menu>li>a {
		border-top: 1px solid #4a4a4a !important;
	}
	ul.page-sidebar-menu>li:last-child>a {
		border-bottom: 0 !important;
	}
	.page-sidebar .sidebar-search input {
		background-color: #292929 !important;
	}
	ul.page-sidebar-menu>li.open>a,ul.page-sidebar-menu>li>a:hover,ul.page-sidebar-menu>li:hover>a
		{
		background: #1e1e1e;
	}
}
